---
const { title, url, description, pubDate, author, image, authorImage } =
  Astro.props;
---

<li>
  <a href={url} title={title}>
    <div
      class="p-8 bg-chalk border hover:shadow-none duration-200 rounded-2 h-full rounded-2xl">
      <div
        class="grid grid-cols-1 lg:grid-cols-3 items-center lg:gap-24 gap-6 justify-between">
        <div
          class="flex items-end justify-center overflow-hidden rounded-3xl lg:col-span-2">
          <div class="flex">
            <img
              class="aspect-[2/1] object-cover rounded-lg lg:rounded-xl lg:w-full"
              loading="lazy"
              src={image}
              alt={title}
              width="560"
            />
          </div>
        </div>
        <div class="lg:order-first">
          <p class="mt-8">
            <time class="text-xs text-zinc-500" datetime={pubDate}
              >{pubDate}</time
            >
          </p>
          <h3
            class="mt-5 text-lg font-medium leading-6 text-black font-display">
            {title}
          </h3>
          <p class="mt-2 text-sm text-zinc-500 line-clamp-">
            {description}
          </p>
        </div>
      </div>
    </div>
  </a>
</li>
