---
const { title, description, url, socialImage, author } =
  Astro.props;
let shortTitle = "Inside View Global";
let subtitle = "Raising the bar";
---
<!--
    Standard meta
 -->
<meta charset="UTF-8" />
<meta name="author" content="Yout name" />
<meta name="theme-color" content="#ffffff" />
<meta name="viewport" content="width=device-width" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="IT consulting Vancouver; Microsoft 365 consulting; business process automation Vancouver; enterprise architecture services; Microsoft 365 roadmap; content migration services; SharePoint consulting Vancouver; Power Platform experts; CRM consulting Vancouver; Microsoft partners Vancouver; certified Microsoft professionals; IT consulting services Vancouver; Microsoft 365 solutions Vancouver; business automation Vancouver; SharePoint migration services; Power Platform development; CRM solutions Vancouver; enterprise architecture consulting; Microsoft 365 experts Vancouver; IT strategy consulting; technology roadmap Vancouver; Microsoft 365 integration Vancouver; IT infrastructure consulting; business process improvement; SharePoint solutions Vancouver; Microsoft 365 migration services; CRM implementation Vancouver; enterprise IT consulting; cloud solutions Vancouver; Power Platform consulting; SharePoint development Vancouver; Microsoft 365 deployment; IT project management Vancouver; business process optimization; CRM strategy Vancouver; SharePoint architecture; Microsoft 365 training Vancouver; IT governance Vancouver; business automation solutions; SharePoint consulting services; Microsoft 365 support Vancouver; enterprise architecture frameworks; IT solutions Vancouver; Power Platform training; CRM customization Vancouver; IT transformation services; SharePoint upgrades Vancouver; Microsoft 365 consultation Vancouver; IT architecture consulting; cloud consulting Vancouver; Power Platform integration Vancouver; CRM management Vancouver; SharePoint development services; Microsoft 365 deployment services; IT consulting firm Vancouver; business process management Vancouver; SharePoint consultancy Vancouver; Microsoft 365 experts; IT project consulting Vancouver; business technology solutions; Power Platform experts Vancouver; CRM integration Vancouver; enterprise IT strategy; SharePoint configuration Vancouver; Microsoft 365 implementation Vancouver; IT consultancy services Vancouver; cloud migration services; business technology consulting; Power Platform solutions; CRM strategy consulting; SharePoint support Vancouver; Microsoft 365 advisor Vancouver; IT consulting agency Vancouver; business process reengineering; SharePoint customization Vancouver; Microsoft 365 cloud services; IT consulting company Vancouver; Power Platform development services; CRM optimization Vancouver; enterprise technology consulting; SharePoint governance Vancouver; Microsoft 365 professional services; IT consulting specialists Vancouver; business solutions consulting; Power Platform consultancy; CRM solutions provider Vancouver; SharePoint experts Vancouver; Microsoft 365 business solutions; IT service provider Vancouver;Market intelligence; Business intelligence; Sales intelligence; Marketing intelligence; Competitive intelligence; B2B; data; IT consulting services; Services & Solutions; Data management; Data enrichment; Data integration; CRM; Account-based marketing; Go-to-market intelligence; Lead generation; Pipeline management; Digital transformation; Business process automation; Information management; Project management; Agile project management; Modernization services; Microsoft 365 consulting; SharePoint solutions; Business value consulting; Information architecture; Workshops and mentoring; Vendor management; Cloud technical specialist; Microsoft Power Platform; Azure consulting; Collaboration apps; Workplace modernization; Digital strategy advisory; Document management systems; Content migration; Governance and compliance; Teamwork and inclusion; Information Architecture; Content organization; Data structuring; Information structuring Content strategy Data architecture Knowledge architecture User experience design (UX design) Information design Content taxonomy; Navigation design; Site structure design; Data categorization; Information hierarchy; Information modelling; Information taxonomy; Products; Sales and marketing solutions; Market research tools; Customer data platform; Sales enablement software; Market insight tools; Advisory & digital strategy; Intranet Project & collaboration workspaces ; Target Audience; Sales professionals; Marketing professionals; Business development professionals; Data analysts B2B marketers; Account managers; IT professionals; Organizations seeking IT consulting services; Use Cases; Target account identification; Lead prioritization; Sales prospecting; Relationship mapping; Account-based sales; Personalized outreach; Competitive Differentiators; Data quality; Comprehensive data coverage; Real-time data updates; Industry-specific insights; Advanced data analytics; Assessment-led solutions; Analysis of people/process/technology; Design & architecture; Mentoring workshops; Project management; Rapid deployment;  Geographic Keywords; Global market insights; International business data; Regional market intelligence; Canadian; Canadian IT consulting; North American market insights; SEO Best Practices; Data-driven decision-making; Sales and marketing strategies; Improving sales performance; Marketing campaign optimization; Customer relationship management; Trending Terms; Big data analytics; AI in sales and marketing; Predictive analytics; Data visualization; Company’s Expertise and Authority; Thought leadership; Industry insights; Professional sales and marketing resources; Expert data management IT consulting expertise;" />
<!--
    General meta for Open Graphs
 -->
<meta name="title" content={`${title} - ${subtitle}`} />
<meta name="description" content={description} />
<meta name="author" content={author} />
<!---------------------
    open graph standard
--------------------->
<meta property="og:title" content={`${title} - ${subtitle}`} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<!---------------------
     open graph Meta
--------------------->
<meta
  property="og:image"
  content={Astro.site ? `${Astro.site}${socialImage}` : socialImage}
/>

<meta property="og:site_name" content={title} />

<title>{shortTitle} - {subtitle}</title>

