---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { fetchAllPosts } from '@/utils/sharepoint';

const posts = await fetchAllPosts();
---

<BaseLayout>
  <main class='max-w-[80%] mx-auto py-32 flex flex-col gap-10 md:max-w-[70%]'>
    <h1 class='text-6xl font-bold'>Articles</h1>
    <div class='flex flex-col md:flex-row gap-4 flex-wrap justify-center'>
      {
        posts &&
          posts.map(
            ({ Title, Description, BannerImageUrl, Author, FileLeafRef }) => (
              <div class='w-full md:w-60 flex flex-col gap-4 shadow p-2'>
                {BannerImageUrl && (
                  <img
                    src={BannerImageUrl.Url}
                    alt={Title}
                    width='auto'
                    height='auto'
                  />
                )}
                <h2 class='font-semibold text-xl'>{Title}</h2>
                <spam class='text-xs font-semibold'>{Author.Title}</spam>
                <p class='text-xs font-thin'>{Description}</p>
                <a
                  href={`/blog/${FileLeafRef.replace('.aspx', '')}`}
                  class='text-blue-500 text-sm font-semibold hover:underline'
                >
                  Read more
                </a>
              </div>
            )
          )
      }
    </div>
  </main>
</BaseLayout>
