---
import BaseLayout from '@/layouts/BaseLayout.astro';
// import { fetchAllPosts } from '@/utils/sharepoint';

import axios from 'axios';
import { readFileSync } from 'fs';
import * as msal from '@azure/msal-node';
import path from 'path';

const tenantId = `${import.meta.env.SHAREPOINT_TENANT_ID}`;
const clientId = `${import.meta.env.SHAREPOINT_CLIENT_ID}`;
const thumbprint = `${import.meta.env.SHAREPOINT_THUMBPRINT}`;
const tenantUrl = `${import.meta.env.SHAREPOINT_ROOTSITE}`;

let cca;

export async function initializeMsal() {
  const privateKeyPath = path.join('src', 'utils', 'certs', 'privateKey.pem');

  const clientCertificate = {
    thumbprint,
    privateKey: readFileSync(privateKeyPath, 'utf8'),
  };

  cca = new msal.ConfidentialClientApplication({
    auth: {
      clientId,
      authority: `https://login.microsoftonline.com/${tenantId}`,
      clientCertificate,
    },
  });
}

export async function getAccessToken() {
  try {
    if (!cca) {
      await initializeMsal();
    }
    const result = await cca.acquireTokenByClientCredential({
      scopes: [`${tenantUrl}`],
    });
    return result.accessToken;
  } catch (error) {
    console.error('Error acquiring token:', error);
    throw error;
  }
}

export async function fetchAllPosts() {
  try {
    const accessToken = await getAccessToken();
    if (!accessToken) {
      console.error('Failed to acquire access token');
      return;
    }

    const siteUrl = `${import.meta.env.SHAREPOINT_SITE_URL}/_api/web/lists/getbytitle('Site%20Pages')/items?$filter=Status eq 'Publish' &$select=Title,Description,BannerImageUrl,FileLeafRef,CanvasContent1,Created,Author/Title,Author/Id&$expand=Author&$orderby=Created desc`;
    const response = await axios.get(siteUrl, {
      headers: {
        Authorization: `Bearer ${accessToken}`,
        Accept: 'application/json;odata=verbose',
      },
    });

    if (!response.data.d.results) {
      return [];
    }

    return response.data.d.results;
  } catch (error) {
    console.error('Error connecting to SharePoint:', error.message);
    if (error.response) {
      console.error('Response status:', error.response.status);
      console.error(
        'Response data:',
        JSON.stringify(error.response.data, null, 2)
      );
    }
  }
}




const posts = await fetchAllPosts();
---

<BaseLayout>
  <main class='max-w-[80%] mx-auto py-32 flex flex-col gap-10 md:max-w-[70%]'>
    <h1 class='text-6xl font-bold'>Articles</h1>
    <div class='flex flex-col md:flex-row gap-4 flex-wrap justify-center'>
      {
        posts &&
          posts.map(
            ({ Title, Description, BannerImageUrl, Author, FileLeafRef }) => (
              <div class='w-full md:w-60 flex flex-col gap-4 shadow p-2'>
                {BannerImageUrl && (
                  <img
                    src={BannerImageUrl.Url}
                    alt={Title}
                    width='auto'
                    height='auto'
                  />
                )}
                <h2 class='font-semibold text-xl'>{Title}</h2>
                <spam class='text-xs font-semibold'>{Author.Title}</spam>
                <p class='text-xs font-thin'>{Description}</p>
                <a
                  href={`/blog/${FileLeafRef.replace('.aspx', '')}`}
                  class='text-blue-500 text-sm font-semibold hover:underline'
                >
                  Read more
                </a>
              </div>
            )
          )
      }
    </div>
  </main>
</BaseLayout>
