---
import VisionData from "@/data/Vision.json";
import UiImage from "../ui/zImage.astro";
---

<!-- Features Section: Featured Image Side Alternate -->
<div class="overflow-hidden bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto px-4 py-8 lg:px-8 lg:py-16 xl:max-w-7xl pt-16 lg:pt-32">
        <div
                class="flex flex-col gap-12 lg:flex-row-reverse lg:items-center lg:gap-0"
        >
            <div class="group relative flex-none lg:ml-16 lg:w-1/2 xl:ml-28">
                <div
                        class="absolute left-0 top-0 hidden h-64 w-full scale-105 rounded-xl bg-amber-500 opacity-40 blur-2xl lg:block"
                ></div>
                <div
                        class="absolute bottom-0 left-0 hidden h-64 w-full scale-105 rounded-xl bg-pink-500 opacity-40 blur-2xl lg:block"
                ></div>
                <UiImage
                        imagePath="/assets/about/"
                        imageName=`/src/assets/about/${VisionData.image}`
                        styles="relative mx-auto rounded-br-3xl rounded-tl-3xl"
                        altText="Our vision image"
                        height="500"
                        width="500"
                />
            </div>
            <div class="space-y-10 lg:w-1/2">
                <!-- Heading -->
                <div>
                    <div
                            class=" text-sm font-bold uppercase tracking-wider text-blue-600 dark:text-blue-500"
                    >
                        {VisionData.highlight}

                    </div>

                    <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                        {VisionData.title}
                    </h2>
                    <h3
                            class="text-lg font-medium leading-relaxed text-gray-700 dark:text-gray-300"
                    >
                        {VisionData.subtitle}
                    </h3>
                </div>
                <!-- END Heading -->

                <!-- Features -->
                <div class="space-y-5" set:html={VisionData.statement}>

                </div>
                <!-- END Features -->
            </div>
        </div>
    </div>
</div>
<!-- END Features Section: Featured Image Side Alternate -->
